/* for centering application interface */

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 25px;
    gap: 25px;
    background: #CADDE3;
    font-family: Cagliostro, Arial, Helvetica, sans-serif;
}

/* for centering header and main content  */
#programContainer{
    width: 1000px;
    height: 650px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
    padding-bottom: 15px; 

    background: linear-gradient(180deg, #EBF4F6 0%, #FFF 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/*  for aligning header content*/
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 650px;
    margin-top: 25px;
}

/* h1 styling */
h1{

    font-weight: 100;
    font-size: 48px;
    margin: 0;
}

/* h2 margin alignment  */
h2{
    margin: 0;
}

/*  placeholder for potential logo */
#logo{
    width: 50px;
    height: 50px;
}

/* line divider between header and main content for appearance only */
#line{
    width: 998px;
    border: 1px solid #D9D9D9;
    
}

/* main content alignment */
#mainContainer{
    display: none;
    align-items: center;
    width: 1000px;
}

/* create page alignment */
#createContainer{
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

/* aligning paragraph in create page */
#createContainer p{
    margin: 0;
}

/* create page input alignment */
#createFlower{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

/*  create page begin button styling for font, note also uses navIcon class */
#createButton{
    border: 0;
    font-family: Cagliostro, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/* container for aligning flower text */
#textContainer{
    width: 475px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left: 25px;
    z-index: 2;
}

/* container for aligning flower decorative divs */
#flowerContainer{
    width: 475px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 25px;
}

/* flower center div decorative  */
#flowerCenter{
    height: 150px;
    width: 150px;
    border-radius:  50%;
    position: absolute;

    background-color: #E5F4D6;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    
    
}

/*  petal div decorative */
#flowerPetal1{
width: 125px;
height: 125px;

border-radius: 80% 15% 55% 50% / 55% 15% 80% 50%;
position: absolute;
top: 17%; left: 50%; transform: translate(-50%, -50%) rotate(135deg);

background-color: #FAEC8F;
box-shadow: -2px -2px 8px rgba(0, 0, 0, 0.25) inset;
}

/*petal div decorative  */
#flowerPetal2{
    width: 125px;
    height: 125px;
    
    border-radius: 80% 15% 55% 50% / 55% 15% 80% 50%;
    position: absolute;
    top: 1%; left: 75%; transform: translate(-50%, -50%) rotate(42deg) rotate(135deg);
    transform-origin: center bottom;

    background-color: #FAEC8F;
    box-shadow: -2px -2px 8px rgba(0, 0, 0, 0.25) inset;

     
}

/*  petal div decorative starts at top and goes clockwise*/
#flowerPetal3{
    width: 125px;
    height: 125px;
    
    border-radius: 80% 15% 55% 50% / 55% 15% 80% 50%;
    position: absolute;
    top: 50%; left: 85%; transform: translate(-50%, -50%) rotate(90deg) rotate(135deg);
    
    background-color: #FAEC8F;
    box-shadow: -2px -2px 8px rgba(0, 0, 0, 0.25) inset;    
}

/* petal div decorative */
#flowerPetal4{
    width: 125px;
    height: 125px;
    
    border-radius: 80% 15% 55% 50% / 55% 15% 80% 50%;
    position: absolute;
    top: 75%; left: 75%; transform: translate(-50%, -50%) rotate(140deg) rotate(135deg);

    background-color: #FAEC8F;
    box-shadow: -2px -2px 8px rgba(0, 0, 0, 0.25) inset; 
}
/* petal div decorative */
#flowerPetal5{
    width: 125px;
    height: 125px;
    
    border-radius: 80% 15% 55% 50% / 55% 15% 80% 50%;
    position: absolute;
    top: 83%; left: 50%; transform: translate(-50%, -50%) rotate(180deg) rotate(135deg);

    background-color: #FAEC8F;
    box-shadow: -2px -2px 8px rgba(0, 0, 0, 0.25) inset; 
}
/*petal div decorative  */
#flowerPetal6{
    width: 125px;
    height: 125px;
    
    border-radius: 80% 15% 55% 50% / 55% 15% 80% 50%;
    position: absolute;
    top: 75%; left: 25%; transform: translate(-50%, -50%) rotate(220deg) rotate(135deg);

    background-color: #FAEC8F;
    box-shadow: -2px -2px 8px rgba(0, 0, 0, 0.25) inset; 
}
/* petal div decorative */
#flowerPetal7{
    width: 125px;
    height: 125px;
    
    border-radius: 80% 15% 55% 50% / 55% 15% 80% 50%;
    position: absolute;
    top: 50%; left: 15%; transform: translate(-50%, -50%) rotate(270deg) rotate(135deg);

    background-color: #FAEC8F;
    box-shadow: -2px -2px 8px rgba(0, 0, 0, 0.25) inset; 
}
/*petal div decorative  */
#flowerPetal8{
    width: 125px;
    height: 125px;
    
    border-radius: 80% 15% 55% 50% / 55% 15% 80% 50%;
    position: absolute;
    top: 25%; left: 25%; transform: translate(-50%, -50%) rotate(322deg) rotate(135deg);

    background-color: #FAEC8F;
    box-shadow: -2px -2px 8px rgba(0, 0, 0, 0.25) inset; 
}
/* petal text div container, displays inputs on flower, 
starts at top and goes clockwise */
#flowerCenterText{
    
    
    width: 100px;
    height: 100px;

    font-size: 14px;
    overflow-wrap: break-word;
    text-align: center;
    overflow: scroll;
    
    position: absolute;
    
    scrollbar-width: none;

}
/* petal text div container, displays inputs on flower */
#flowerPetal1Text{
    
    width: 80px;
    height: 90px;
    position: absolute;
    top: 17%; left: 50%; transform: translate(-50%, -50%);

    font-size: 14px;
    overflow-wrap: break-word;
    text-align: center;
    overflow: scroll;
    
    scrollbar-width: none;
}

/*  petal text div container, displays inputs on flower*/
#flowerPetal2Text{
    
    width: 80px;
    height: 80px;
    
    position: absolute;
    top: 25%; left: 77%; transform: translate(-50%, -50%);

    font-size: 14px;
    overflow-wrap: break-word;
    text-align: center;
    overflow: scroll;
    
    scrollbar-width: none;
}
/* petal text div container, displays inputs on flower */
#flowerPetal3Text{
    
    width: 80px;
    height: 85px;
   
    position: absolute;
    top: 50%; left: 86%; transform: translate(-50%, -50%); 

    font-size: 14px;
    overflow-wrap: break-word;
    text-align: center;
    overflow: scroll;
    
    scrollbar-width: none;
}
/* petal text div container, displays inputs on flower */
#flowerPetal4Text{
    
    width: 80px;
    height: 80px;
    
    position: absolute;
    top: 76%; left: 75.5%; transform: translate(-50%, -50%); 

    font-size: 14px;
    overflow-wrap: break-word;
    text-align: center;
    overflow: scroll;
    
    scrollbar-width: none;
}
/* petal text div container, displays inputs on flower */
#flowerPetal5Text{
   
    width: 80px;
    height: 90px;
    
    position: absolute;
    top: 83%; left: 50%; transform: translate(-50%, -50%);

    font-size: 14px;
    overflow-wrap: break-word;
    text-align: center;
    overflow: scroll;
    
    scrollbar-width: none;
}
/* petal text div container, displays inputs on flower */
#flowerPetal6Text{
    
    width: 80px;
    height: 80px;
   
    position: absolute;
    top: 76%; left: 24%; transform: translate(-50%, -50%);

    font-size: 14px;
    overflow-wrap: break-word;
    text-align: center;
    overflow: scroll;
    
    scrollbar-width: none;
}
/* petal text div container, displays inputs on flower */
#flowerPetal7Text{
    
    width: 80px;
    height: 85px;
  
    position: absolute;
    top: 50%; left: 13.5%; transform: translate(-50%, -50%); 

    font-size: 14px;
    overflow-wrap: break-word;
    text-align: center;
    overflow: scroll;
    
    scrollbar-width: none;
}
/*  petal text div container, displays inputs on flower*/
#flowerPetal8Text{
    
    width: 80px;
    height: 80px;
    
    position: absolute;
    top: 25%; left: 25%; transform: translate(-50%, -50%); 

    font-size: 14px;
    overflow-wrap: break-word;
    text-align: center;
    overflow: scroll;
    
    scrollbar-width: none;
}
/* used to hide scroll bars on petals */
#flowerCenterText::-webkit-scrollbar {
    display: none; 

}
#flowerPetal1Text::-webkit-scrollbar {
    display: none; 

}
#flowerPetal2Text::-webkit-scrollbar {
    display: none; 

}
#flowerPetal3Text::-webkit-scrollbar {
    display: none; 

}
#flowerPetal4Text::-webkit-scrollbar {
    display: none; 

}
#flowerPetal5Text::-webkit-scrollbar {
    display: none; 

}
#flowerPetal6Text::-webkit-scrollbar {
    display: none; 

}
#flowerPetal7Text::-webkit-scrollbar {
    display: none; 

}
#flowerPetal8Text::-webkit-scrollbar {
    display: none; 

}

/*input alignment  */

#inputContainer{
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
/* input styling  */
.input{
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 15px;
    
    background: #CADDE3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    
    
}
/* hides submit buttons, allows forms to be submitted using enter */
.hiddenButton{
    display: none;
}
/* holds side menu, aligns side menu*/
#navContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 450px;
    gap: 15px;
}
/* styling for menu icons  */
.navIcon{
    width: 65px;
    height: 65px;
    
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;

    background-color: #CADDE3;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
/*  styling for menu icons when selected*/
.navSelected{
    width: 65px;
    height: 65px;
    
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;

    background-color:#FAEC8F;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

}
/* link styling... not in use currently */
a{
    text-decoration: none;
    color: black;
}
/* changes menu icon's color on hover  */
.navIcon:hover{
    background-color:  #FAEC8F;
}
/* container for in application instructions  */
#instructionPanel{
    display: none;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 300px;
    border-radius: 25px;
    padding: 30px;
    position:absolute;
    z-index: 3;
    font-size: 14px;

    background: linear-gradient(180deg, #EBF4F6 0%, #FFF 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    
}
/* alignment for instruction header and close button */
#instructionHeader{
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* changes close text color on hover */
#closeInstructions:hover{

    color: lightgray;

}
/* confirm box container for alignment */
#confirmBox{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    width: 300px;
    height: 150px;
    padding: 20px;
    text-align: center;
    position: absolute;
    z-index: 3;

    background: linear-gradient(180deg, #EBF4F6 0%, #FFF 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}
/* container to align buttons */
#buttonContainer{
    display: flex;
    gap: 20px;

}
/* confirm button styling */
#confirm{
    font-family: Cagliostro, Arial, Helvetica, sans-serif;
    height: 40px;
    width: 75px;
    border: none;
    border-radius: 10px;
    background-color: #CADDE3;


}
/*cancel button styling  */
#cancel{

    font-family: Cagliostro, Arial, Helvetica, sans-serif;
    height: 40px;
    width: 75px;
    border: none;
    border-radius: 10px;
    background-color: #CADDE3;
}
/*  changes confirm button color on hover*/
#confirm:hover{
    background-color: #FAEC8F;
}
/* changes cancel button color on hover */
#cancel:hover{
    background-color: #FAEC8F;
}

/* create page error message handling */
#input0Empty{

    display: none;
    color: red;
}